@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Heebo", sans-serif;
  background-color: rgba(229, 229, 229, 0.8); }

::selection {
  background-color: #ff6464;
  color: #fff; }

.nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }
  .nav__link:not(:last-child) {
    margin-right: 3rem; }
  .nav__link {
    font-weight: 500;
    font-size: 2rem;
    text-decoration: none;
    color: #000;
    transition: all 0.3s; }
    .nav__link--active {
      color: #ff6464; }
  .nav__link:last-child {
    margin-right: 10vw; }
  .nav__link:hover {
    color: #ff6464; }

.heading-1 {
  font-size: 4.4rem;
  font-weight: 700; }

.heading-2 {
  font-size: 2.6rem;
  font-weight: 700;
  line-height: 3.8rem; }

.heading-3 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 4.4rem; }

.mini-heading {
  font-weight: 400;
  font-size: 2.2rem;
  line-height: 6rem; }

.btn:link, .btn:visited {
  color: #fff;
  padding: 1rem 2rem;
  background-color: #ff6464;
  text-decoration: none;
  text-align: center;
  font-weight: 500;
  font-size: 2rem;
  transition: all 0.3s; }

.btn:hover {
  background-color: #b82121;
  transform: translateY(-3px); }

.btn:active {
  transform: translateY(-1px); }

.paragraph {
  font-family: inherit;
  font-weight: 400;
  font-style: normal;
  font-size: 1.6rem;
  line-height: 2.4rem; }

.container {
  width: 100%;
  max-width: 85.6rem;
  margin: 0 auto; }

.header {
  padding-top: 2.7rem;
  background-color: #fff;
  height: 100%;
  min-height: 59.5rem; }
  .header__main {
    margin-top: 15.5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start; }
  .header__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 18.8rem;
    flex: 0 0 70%; }
  .header__heading-main {
    margin-bottom: 4.5rem; }
  .header__text {
    padding: 0px 15% 0px 0px;
    margin-bottom: 4.5rem; }
  .header__btn {
    width: 21rem; }
  .header__picture {
    flex: 0 0 30%;
    display: flex;
    flex-direction: column; }
  .header__img-itself {
    height: auto;
    width: 100%; }

.recent-posts {
  background-color: #edf7fa; }
  .recent-posts__head {
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
  .recent-posts__link:link, .recent-posts__link:visited {
    display: block;
    font-weight: 400;
    line-height: 2.4rem;
    color: #00a8cc;
    text-decoration: none;
    font-size: 1.6rem;
    margin-top: 2rem; }
  .recent-posts__content {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 -1rem; }
  .recent-posts__heading {
    margin-bottom: 1.7rem; }
  .recent-posts__item {
    background-color: #fff;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    padding: 0 1rem;
    flex: 0 1 48%; }
    .recent-posts__item:nth-child(-n + 2) {
      margin-top: 1.5rem; }
    .recent-posts__item:nth-last-child(-n + 2) {
      margin-bottom: 5rem; }
  .recent-posts__date-items {
    margin-bottom: 1.1rem; }
    .recent-posts__date-items span {
      display: inline-block;
      font-weight: 400;
      font-size: 1.8rem;
      line-height: 2.6rem; }
      .recent-posts__date-items span:first-child {
        padding-right: 2rem;
        border-right: 1px solid #000; }
      .recent-posts__date-items span:last-child {
        padding-left: 2rem; }

.work {
  background-color: #fff;
  padding: 3rem; }
  .work__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .work__item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1.5rem 0;
    margin: 0 -0.9rem; }
  .work__item > * {
    padding: 0 0.9rem; }
  .work__right-inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .work__year-content {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center; }
  .work__year {
    margin-right: 3rem;
    color: #fff;
    background-color: #142850;
    padding: 0.5rem 1rem;
    font-weight: 900;
    font-size: 1.8rem;
    border-radius: 100px;
    line-height: 1; }
  .work__title {
    font-weight: 400;
    font-size: 2rem;
    line-height: 3rem;
    color: #8695a4; }
