@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;700;900&display=swap");

$main-font-family: "Heebo", sans-serif;
$color-primary: #ff6464;
$color-primary-dark: #b82121;
$color-secondary: #00a8cc;
$color-tertiary: #edf7fa;
$color-dark: #21243d;
$color-dark-2: #142850;
$color-light: #8695a4;
$color-light-grey: #e0e0e0;
$color-light-grey-2: #e0e0e0;

$color-background-main: #e5e5e5;

$color-black: #000;
$color-white: #fff;

$shadow-main: 0 1rem 2rem rgba(0, 0, 0, 0.2);
$shadow-darker: 0 1.5rem 3.5rem rgba(0, 0, 0, 0.3);

// Breakpoints
$breakpoint-bigger: 56.25em; // 900px
$breakpoint-big: 50em; //800px
$breakpoint-small-big: 43.75em; // 700px
$breakpoint-medium: 37.5em; //600px
$breakpoint-small: 25em; //400px

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 10px out of default size 16px

    @media only screen and (max-width: $breakpoint-bigger) {
        font-size: 56.25%;
    }

    @media only screen and (max-width: $breakpoint-big) {
        font-size: 50%; // 8px
    }

    @media only screen and (max-width: $breakpoint-medium) {
        font-size: 43.75%; // 7px
    }

    @media only screen and (max-width: $breakpoint-small) {
        font-size: 37.5%; // 6px
    }
}

body {
    box-sizing: border-box;
    font-family: $main-font-family;
    background-color: $color-white;
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}
