.container {
    width: 100%;
    max-width: 85.6rem;
    margin: 0 auto;
}

.header {
    padding-top: 2.7rem;
    background-color: $color-white;
    height: 100%;
    min-height: 59.5rem;

    &__main {
        margin-top: 15.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 18.8rem;
        flex: 0 0 70%;
    }

    &__heading-main {
        margin-bottom: 4.5rem;
    }

    &__text {
        padding: 0px 15% 0px 0px;
        margin-bottom: 4.5rem;
    }

    &__btn {
        width: 21rem;
    }

    &__picture {
        flex: 0 0 30%;
        display: flex;
        flex-direction: column;
    }

    &__img-itself {
        height: auto;
        width: 100%;
    }
}

.recent-posts {
    background-color: $color-tertiary;
    &__head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__link {
        &:link,
        &:visited {
            display: block;
            font-weight: 400;
            line-height: 2.4rem;
            color: $color-secondary;
            text-decoration: none;
            font-size: 1.6rem;
            margin-top: 2rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -1rem;
    }

    &__heading {
        margin-bottom: 1.7rem;
    }

    &__item {
        background-color: $color-white;
        box-shadow: $shadow-main;
        padding: 0 1rem;
        flex: 0 1 48%;

        &:nth-child(-n + 2) {
            margin-top: 1.5rem;
        }

        &:nth-last-child(-n + 2) {
            margin-bottom: 5rem;
        }
    }

    &__date-items {
        span {
            display: inline-block;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.6rem;
            &:first-child {
                padding-right: 2rem;
                border-right: 1px solid $color-black;
            }
            &:last-child {
                padding-left: 2rem;
            }
        }
        margin-bottom: 1.1rem;
    }
}

.work {
    background-color: $color-white;
    padding: 3rem;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5rem 0 4.7rem 0;
        margin: 0 -0.9rem;
        border-bottom: 1px solid $color-light-grey;
    }

    &__item > * {
        padding: 0 0.9rem;
    }

    &__item:not(:first-child) {
        margin-top: 4.7rem;
    }

    &__picture {
    }

    &__img {
        height: 100%;
    }

    &__right-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__year-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    &__year {
        margin-right: 3rem;
        color: $color-white;
        background-color: $color-dark-2;
        padding: 0.5rem 1rem;
        font-weight: 900;
        font-size: 1.8rem;
        border-radius: 100px;
        line-height: 1;
    }

    &__title {
        font-weight: 400;
        font-size: 2rem;
        line-height: 3rem;
        color: $color-light;
    }
}

.blog {
    background-color: $color-white;
    padding: 10rem 0;

    &__heading {
        margin-bottom: 2.5rem;
        font-size: 4.4rem;
    }

    &__sub-heading {
        line-height: 1;
        margin-bottom: 1.5rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__item {
        margin-top: 3rem;
        border-bottom: 1px solid $color-light-grey-2;
    }

    &__date-row {
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    &__date-itself {
        padding-right: 3rem;
        font-weight: 400;
        font-size: 2rem;
        border-right: 1px solid $color-black;
    }

    &__title-grey {
        padding-left: 3rem;
        font-weight: 400;
        font-size: 2rem;
        line-height: 3rem;
        color: #8695a4;
    }

    &__paragraph {
        margin-bottom: 2.5rem;
    }
}
