// Container =================================================================
.container {
    width: 100%;
    max-width: 85.6rem;
    margin: 0 auto;
}

// HEADER =================================================================
.header {
    padding-top: 2.7rem;
    background-color: $color-white;
    height: 100%;
    min-height: 59.5rem;

    &__main {
        margin-top: 15.5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-bottom: 18.8rem;
        flex: 0 0 70%;
    }

    &__heading-main {
        margin-bottom: 4.5rem;
    }

    &__text {
        padding: 0px 15% 0px 0px;
        margin-bottom: 4.5rem;
    }

    &__btn {
        width: 21rem;
    }

    &__picture {
        flex: 0 0 30%;
        display: flex;
        flex-direction: column;
    }

    &__img-itself {
        height: auto;
        width: 100%;
    }
}

// Recent POSTS =================================================================
.recent-posts {
    background-color: $color-tertiary;
    &__head {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__link {
        &:link,
        &:visited {
            display: block;
            font-weight: 400;
            line-height: 2.4rem;
            color: $color-secondary;
            text-decoration: none;
            font-size: 1.6rem;
            margin-top: 2rem;
        }
    }

    &__content {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;
        margin: 0 -1rem;
    }

    &__heading {
        margin-bottom: 1.7rem;
    }

    &__item {
        background-color: $color-white;
        box-shadow: $shadow-main;
        padding: 0 1rem;
        flex: 0 1 48%;

        &:nth-child(-n + 2) {
            margin-top: 1.5rem;
        }

        &:nth-last-child(-n + 2) {
            margin-bottom: 5rem;
        }
    }

    &__date-items {
        span {
            display: inline-block;
            font-weight: 400;
            font-size: 1.8rem;
            line-height: 2.6rem;
            &:first-child {
                padding-right: 2rem;
                border-right: 1px solid $color-black;
            }
            &:last-child {
                padding-left: 2rem;
            }
        }
        margin-bottom: 1.1rem;
    }
}
// Work =================================================================
.work {
    background-color: $color-white;
    padding: 3rem;
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 1.5rem 0 4.7rem 0;
        margin: 0 -0.9rem;
        border-bottom: 1px solid $color-light-grey;
    }

    &__item > * {
        padding: 0 0.9rem;
    }

    &__item:not(:first-child) {
        margin-top: 4.7rem;
    }

    &__picture {
    }

    &__img {
        height: 100%;
    }

    &__right-inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__year-content {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    &__year {
        margin-right: 3rem;
        color: $color-white;
        background-color: $color-dark-2;
        padding: 0.5rem 1rem;
        font-weight: 900;
        font-size: 1.8rem;
        border-radius: 100px;
        line-height: 1;
    }

    &__title {
        font-weight: 400;
        font-size: 2rem;
        line-height: 3rem;
        color: $color-light;
    }
}
// Blog =================================================================
.blog {
    background-color: $color-white;
    padding: 10rem 0;

    &__heading {
        margin-bottom: 2.5rem;
        font-size: 4.4rem;
    }

    &__sub-heading {
        line-height: 1;
        margin-bottom: 1.5rem;
    }

    &__content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__item {
        margin-top: 3rem;
        border-bottom: 1px solid $color-light-grey-2;
    }

    &__date-row {
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    &__date-itself {
        padding-right: 3rem;
        font-weight: 400;
        font-size: 2rem;
        border-right: 1px solid $color-black;
    }

    &__title-grey {
        padding-left: 3rem;
        font-weight: 400;
        font-size: 2rem;
        line-height: 3rem;
        color: #8695a4;
    }

    &__paragraph {
        margin-bottom: 2.5rem;
    }
}
// Dashboards =================================================================
.dashboards {
    background-color: $color-white;
    &__item {
        display: flex;
        flex-direction: column;
    }

    &__item--1 {
        margin-bottom: 5.4rem;
    }

    &__heading-main {
        max-width: 40rem;
        width: 100%;
        margin-bottom: 3rem;
    }

    &__year-stuff {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 2.3rem;
    }

    &__year {
        margin-right: 3rem;
        color: $color-white;
        padding: 0.5rem 1rem;
        font-weight: 900;
        font-size: 1.8rem;
        border-radius: 100px;
        line-height: 1;
        background-color: $color-primary;
    }

    &__year-heading {
        font-weight: 400;
        font-size: 2rem;
        line-height: 3rem;
    }

    &__paragraph {
        margin-bottom: 4.6rem;
    }

    &__images {
        width: 100%;
    }

    &__img {
        width: 100%;
        box-shadow: $shadow-darker;
    }

    &__img:nth-child(odd) {
        margin-bottom: 5rem;
    }

    &__item--2 {
        margin-top: 3rem;
        margin-bottom: 7.8rem;
    }

    &__heading--1 {
        margin-bottom: 2rem;
    }

    &__heading--2 {
        margin-bottom: 2rem;
    }
}

//Footer =========================================================================
.footer {
    height: 13rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    &__inner {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__icons {
        text-align: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 30%;
        margin: 0 auto;
        margin-bottom: 2rem;
    }

    &__link {
        &:not(:last-child) {
            margin-right: 3.5rem;
        }
        &:visited,
        &:link {
            display: inline-block;
            text-decoration: none;
        }
    }

    &__icon:not(:last-child) {
        margin-right: 3.5rem;
    }

    &__copyright {
        text-align: center;
        line-height: 2rem;
        font-size: 1.4rem;
    }
}

// Navigation =========================================================================
.navigation {
    display: none;

    @media only screen and (max-width: $breakpoint-big) {
        display: block;
    }

    &__checkbox {
        display: none;
    }

    &__button {
        background-color: $color-white;
        height: 3.5rem;
        width: 3.5rem;
        position: fixed;
        top: 3rem;
        right: 3rem;
        z-index: 2000;
        border-radius: 50%;
        box-shadow: 0 1rem 3rem rgba($color-black, 0.4);
        cursor: pointer;
        color: $color-black;

        @media only screen and (max-width: $breakpoint-medium) {
            top: 2.5rem;
            right: 2.5rem;
        }
        @media only screen and (max-width: $breakpoint-medium) {
            top: 2rem;
            right: 2rem;
        }
    }
    &__icon {
        position: relative;
        top: 30%;
        left: 50%;
        transform: translate(-50%, -50%);

        &,
        &::before,
        &::after {
            width: 1rem;
            height: 1px;
            background-color: $color-dark;
            display: inline-block;
            transition: all 0.2s;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            left: 0;
        }

        &::before {
            top: -0.5rem;
        }

        &::after {
            top: 0.5rem;
        }
    }

    &__button:hover &__icon::before {
        top: -0.75rem;
    }

    &__button:hover &__icon::after {
        top: 0.75rem;
    }

    &__background {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        position: fixed;
        top: 3.25rem;
        right: 3.25rem;
        background-image: radial-gradient($color-primary, $color-primary-dark);
        z-index: 1000;
        transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);

        @media only screen and (max-width: $breakpoint-medium) {
            width: 2.5rem;
            height: 2.5rem;
            top: 2.75rem;
            right: 2.75rem;
        }

        @media only screen and (max-width: $breakpoint-small) {
            width: 2rem;
            height: 2rem;
            top: 2.25rem;
            right: 2.25rem;
        }
    }

    &__nav {
        height: 100vh;
        position: fixed;
        z-index: 1500;
        top: 0;
        left: 0;
        opacity: 0;
        width: 0;
        visibility: hidden;

        transition: all 0.8s cubic-bezier(0.83, 0, 0.17, 1);
    }

    &__list {
        list-style: none;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        width: 100%;
    }

    &__item {
        margin: 1rem;
    }

    &__link {
        &:link,
        &:visited {
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            padding: 1rem 2rem;
            font-weight: 300;
            font-size: 3rem;
            color: $color-white;
            background-image: linear-gradient(
                120deg,
                transparent 0%,
                transparent 50%,
                $color-white 50%
            );
            background-size: 220%;
            transition: all 0.2s;
        }

        &:hover,
        &:active {
            background-position: 100%;
            color: $color-primary;
            transform: translateX(1rem);
        }

        span {
            margin-right: 1.5rem;
            display: inline-block;
        }
    }

    &__checkbox:checked ~ &__background {
        transform: scale(100);
    }

    &__checkbox:checked ~ &__nav {
        opacity: 1;
        visibility: visible;
        width: 100%;
    }

    &__checkbox:checked + &__button &__icon {
        background-color: transparent;
    }

    &__checkbox:checked + &__button &__icon::before {
        transform: rotate(225deg);
        top: 0;
    }

    &__checkbox:checked + &__button &__icon::after {
        transform: rotate(-225deg);
        top: 0;
    }
}
